// Bootstrap custom
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// sass perso
@import 'variables/variables';
@import 'variables/mixin';
@import 'component/button';
@import 'component/card';
@import 'text-format';
@import 'header';
@import 'carousel-responsive';
@import 'blocs';
@import 'reinsurance';
@import 'mark';
@import 'space';
