#connectionModal, #inscriptionModal{

    .modal-body{
        .btn-close{
            position: absolute;
            top: .5rem;
            right: .5rem;
        }

        h5{
            font-family: $main !important;
            font-size: 1.5rem;
            margin-top : 1.5rem;
            margin-bottom: 2rem;
        }

        form{

            width: 70%;
            margin: auto;
            margin-bottom: 1rem;

            .input-group, form-group{
                margin-bottom: 2rem;
            }

            #togglePassword{
                cursor: pointer;
                @include bg_img_parameter;
                width: 40px;
                background-size: 25px;

                &.see{
                    background-image: url('../img/icon/connection/view.png');
                }
                &.hide{
                    background-image: url('../img/icon/connection/hidden.png');
                }
            }
        }

        p{
            font-family: $headings_product;
            color: $search;

            a{
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}