header nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {

        a{
            display: flex;
            align-items: center;
            color: $dark;

            &:visited{
                color: inherit;
            }

            &:hover{
                @include text_fade;
            }
        }

        img{
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
}