.offcanvas-start{
    width: 800px;

    @media screen and (max-width:1400px){
        width: 700px;
    }
    @media screen and (max-width:1200px){
        width: 500px;
    }

    @media screen and (max-width:992px){
        width: 300px;
    }

    a{
        color: $dark;
    }

    .desktopOffcanva-body{
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width:992px){
            display: block;
        }

        .rightOffcanva, .leftOffcanva{
            padding: 1rem;
            width: 50%;
            height: 100%;
            @media screen and (max-width:992px){
                width: 100%;
            }
        }
        .leftOffcanva{
            border-right: 3px solid #e6e6e6;

            h3{
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            p{
                margin-bottom: 2rem;
                @media screen and (max-width:1200px){
                    font-size: .8rem;
                }
            }
            
            img {
                width: 100%;
            }
        }

        .rightOffcanva{

            ul{
                margin-top: 4.8rem;
                list-style: none;

                @media screen and (max-width:992px){
                    margin-top: 1rem;
                    padding: 0;
                }

                li{
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a{
                        font-size: 1rem;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover{
                            @include text_fade;
                        }

                        @media screen and (max-width:1200px){
                            font-size: .8rem;
                        }

                        @media screen and (max-width:992px){
                            font-size: .7rem;
                        }
                        
                    }
                    span {
                        @include bg_img_parameter;
                        width: 8px;
                        height: 14px;
                        background-image: url(../img/icon/fleche.svg);
                    }
                }
            }
        }
    }
}